@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans), sans-serif;
  --font-gurmukhi: var(--font-gurmukhi), sans-serif;
}

[lang="pa"] {
  font-family: var(--font-gurmukhi), system-ui, sans-serif !important;
}

[lang="en"] {
  font-family: var(--font-sans), system-ui, sans-serif !important;
}

/* Custom prints styling for invoices */
@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  .print-area {
    display: block !important;
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
  }
}
